<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<div class="wholeContainer">

    <div class="firstContainer mb-4">
        <div class="statistics">
            <div class="firstRow">
                <label class="labelUser">USERS</label>
                <p class="numbers" id="numberLoggedIn">70/350</p>
                <label  class="label2">LOGGED IN</label>
            </div>
            <div class="secondRow">
                <label  class="labelParking">PARKING SLOTS</label>
                <p class="numbers" id="numberParkingSlots">65/70</p>
                <label class="label2">PARKED USER</label>
            </div>
            <div class="thirdRow">
                <label class="labelVisitor">VISITORS REGISTERED</label>
                <p class="numbers" id="numberVisitorRegistered">10/50</p>
                <label  class="label2">LOGGED IN VISITORS</label>
            </div>
        </div>
    </div>

    <div class="secondContainer ">
        
        <div class="wholeSSS">
            <div class="SSS mb-1">
                <div id="userLogs">
                    <p class="logs">USER LOGS <span id="time"></span></p>
                </div>
            </div>
        </div>
        
    </div>

    <div class="thirdContainer">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">LOGIN TIME</th>
                    <th scope="col">LOGIN DATE</th>
                    <th scope="col">LOGOUT TIME</th>
                    <th scope="col">LOGOUT DATE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="clickableName" onclick="popUserInfo()">Sheryl Kate Monserrat</td>
                    <td>Student</td>
                    <td>7:00 AM</td>
                    <td>4-9-2021</td>
                    <td>5:00 PM</td>
                    <td>4-9-2021</td>
                </tr>
                <tr>
                    <td>Nathalie Butic</td>
                    <td>Student</td>
                    <td>7:00 AM</td>
                    <td>4-9-2021</td>
                    <td>7:00 PM</td>
                    <td>4-9-2021</td>
                </tr>
                <tr>
                    <td>Sam Daniels</td>
                    <td>Employee</td>
                    <td>7:00 AM</td>
                    <td>4-9-2021</td>
                    <td>7:00 PM</td>
                    <td>4-9-2021</td>
                </tr>
                
            </tbody>
        </table>
    </div>

    <div class="userInfoContainer" id="userInfoContainer">
        <div class="Info">
            <p class="closeButton" onclick="closeButton()">&times;</p><br>

            <div class="userInfoName">
                <p class="h1" id="UserInfoLastname">MONSERRAT</p>
                <p class="h3" id="UserInfoFirstname">SHERYL KATE PESASICO</p>
            </div>

            <div class="personalInfo">
                <div>
                    <label class="labels">USER ID</label>
                    <p id="userID">1801102480</p>
                </div>
                
                <div>
                    <label class="labels">CATEGORY</label>
                    <p id="category">STUDENT</p>
                </div>

                <div>
                    <label class="labels">CONTACT NO.</label>
                    <p id="contactNo">09972802630</p>
                </div>
                <br>
            </div>

            <div class="plate">
                <p id="plateNo">ABC 123</p>
                <p id="cardBarcode">951102145</p>
            </div>

            <div class="vehicleInfo">
                <div>
                    <label class="labels">MODEL</label>
                    <p id="model">TOYOTA FORTUNER</p>
                </div>
                <div>
                    <label class="labels">TYPE</label>
                    <p id="type">VEHICLE</p>
                </div>
                <div>
                    <label class="labels">COLOR</label>
                    <p id="color">WHITE</p>
                </div>
                
            </div>
        </div>
    </div>
    
    <script src="/js/javascript.js"></script>

</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->